.banner-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.banner-slide {
  width: 100%;
  height: 77.2vh;
  position: relative;
}

.banner-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
}

.banner-text-wrapper {
  max-width: 650px;
  color: white;
}

.banner-subtitle {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.banner-title {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 20px;
  color: white;
}

.banner-description {
  font-size: 18px;
  line-height: 1.7;
  max-width: 550px;
  margin-bottom: 30px;
}

/* BUTTON DEFAULT STYLE */
.banner-button {
  padding: 18px 48px;
  width: 300px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 60px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.28);
}

.banner-button:hover {
  opacity: 0.9;
}

/* DYNAMIC BUTTON POSITIONING */
.position-left {
  left: 284px;
}

.position-center {
  left: 19%;
}

.position-center1 {
  left: 61%;
}

.position-right {
  right: 60px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

  .banner-container,
  .banner-slide {
    height: 60vh;
  }

  .banner-content {
    padding: 40px 25px;
    justify-content: center;
    text-align: center;
  }

  .banner-title {
    font-size: 32px;
  }

  .banner-description {
    font-size: 14px;
  }

  .position-left,
  .position-right,
  .position-center {
    left: 50%;
    right: auto;
  }

  .banner-button {
    bottom: 20px;
  }
}

@media (max-width: 480px) {

  .banner-container,
  .banner-slide {
    height: 50vh;
  }

  .banner-title {
    font-size: 26px;
  }

  .banner-content {
    padding: 25px 15px;
  }
}